.contextual
  = link_to l(:label_vacation_range_new), new_vacation_range_path, :class => 'icon icon-add'

%h2
  = link_to l(:label_vacation_status_plural), vacation_statuses_path
  &#187;
  =h @vacation_status.name

%table.list
  %thead
    %tr
      =sort_header_tag :user_id, :caption => l(:field_user)
      =sort_header_tag :start_date, :caption => l(:field_vacation_start_date)
      =sort_header_tag :end_date, :caption => l(:field_vacation_end_date)
      %th
  %tbody
    - for vacation_range in @vacation_ranges
      %tr{:class=>cycle("odd", "even")}
        %td= link_to h(vacation_range.user), vacation_path(Vacation.find_by_user_id(vacation_range.user_id))
        %td{:align=>"center"}= format_date(vacation_range.start_date)
        %td{:align=>"center"}= format_date(vacation_range.end_date)
        %td.buttons
          = link_to l(:button_update), edit_vacation_range_path(vacation_range), class: 'icon icon-edit'
          = link_to(l(:button_delete), vacation_range_path(vacation_range), method: 'delete', confirm: l(:text_are_you_sure), class: 'icon icon-del')

%p.pagination= pagination_links_full @vacation_range_pages, @vacation_ranges_count

- html_title(l(:label_vacation_range_plural))
