= error_messages_for 'vacation_range'
= back_url_hidden_field_tag

.box.tabular
  %p= f.select :user_id, User.active.order(:lastname, :firstname).map {|c| [c.name, c.id]}, :required => true, :prompt => t(:prompt_please_select)
  %p
    = f.select :vacation_status_id, VacationStatus.find(:all, :order => :name).map {|c| [c.name, c.id]}, :required => true, :prompt => t(:prompt_please_select)
    = link_to l(:label_vacation_status_new), {:controller => :vacation_statuses, :action => :new, :back_url => url_for(params)}, :class => 'icon icon-add'
  %p
    = f.text_field :start_date, :size => 10, :label => l(:field_vacation_start_date)
    = calendar_for('vacation_range_start_date')
  %p
    = f.text_field :end_date, :size => 10, :label => l(:field_vacation_end_date)
    = calendar_for('vacation_range_end_date')
  %p
    = f.text_field :duration, :size => 5, :label => l(:label_vacation_duration)
  %p
    = f.text_area :description, :cols => 60, :rows => 15, :class => 'wiki-edit'

= wikitoolbar_for 'vacation_range_description'  
